.profileFormDiv {
  margin: 50px;
}

.insideDiv {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 10px;
}

.inputField {
  border: 0;
  width: 100%;
  outline: none;
}

.myLabel {
  text-align: center;
}

.myHrStyle {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}

.buttonsDiv {
  text-align: center;
  margin: 20px;
}

.heading {
  margin: 30px;
}

.myButton {
  min-width: 10%;
  max-width: 50%;
}

.form-validation {
  text-align: center;
  font: italic small-caps bold 12px/30px Georgia, serif;
}

.navButton {
  background-image: linear-gradient(
    to right top,
    #a3ced3,
    #75bace,
    #47a3cc,
    #1d8bca,
    #1f70c3
  );
  border: none;
  border-radius: 12px;
  color: white;
  padding: 4px;
  text-align: center;
  margin: 5px;
  outline: none;
  display: block;
}

.navDiv {
  display: flex;
}
